<script src="/static/js/navbar.js"></script>
<div id="instructions" style="width: 30vw; height: 30vh; margin-left: 35vw; margin-top: 35vh; background-color: white; position: absolute; visibility: hidden;">
  <p>Welcome to the instructions!</p>
</div>
<nav class="navbar" id="navbar" role="navigation" aria-label="main navigation" style="background-color: rgb(246, 245, 255); box-shadow:0 0px 1px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19) !important; position: fixed; width: 100vw;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <h1 class="title is-5" style="padding-bottom: 3px;">Writing Center</h1>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/dashboard">View Edit Requests</a>
      <a class="navbar-item" href="/credits">View Credits</a>
      <a class="navbar-item" href="/log_in_person">Log In-Person Hours</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/about">About Us</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/about#faq">FAQ</a>
          <a class="navbar-item" href="/about#leadership">Leadership</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://docs.google.com/document/d/18f8RockAGgWDFvaAVyltEnZ25bfAy7AcWrJQcZirW34/edit">
          Tutorials
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://docs.google.com/document/d/18f8RockAGgWDFvaAVyltEnZ25bfAy7AcWrJQcZirW34/edit">
            Editor Handbook
          </a>
          <a class="navbar-item" href="https://youtu.be/4iq2oe5fs0g">
            Video Tutorial
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <!--
        <a class="button" onclick="tutorial();" style="background-color: rgb(246, 245, 255); border: 0px">
          <span class="icon-text" style="font-size: 5vh;">
            <span class="icon">
              <i class="fas fa-question-circle"></i>
            </span>
          </span>
        </a>
        -->
        <a class="button is-info" href="mailto:jlei60@stuy.edu">Report Bug</a>
        <a class="button is-info" href="/auth/logout">Log out</a>
      </div>
    </div>
  </div>
</nav>
<br/><br/>
